.category {
    margin-top: 30px;
}
.category h3 {
    font-size: 30px;
}
.path {
    color: #a3a3a3;
}
.path a {
    text-decoration: underline;
    color: #a3a3a3;
}
.path a:hover {
    text-decoration: none;
}


.warning-text {
    color: #f00;
    margin-top: 18px;
    margin-bottom: 0;

    font-size: 16px;
}